body{
	background-color: lightgray;
	color: white;
	font-family: Arial, Charcoal, sans-serif;
}

.heading{
	background-color: dimgray;
	color: white;
	text-align: center;
	padding: 20px 50px 20px 50px;
	font-family: Georgia, Charcoal, sans-serif;
	margin: 0;
}

.heading h1{
	font-size: 3em;
	margin: 0;
}

.heading p{
	font-size: 1.2em;
	margin: 10px 0 0;
}

.navbar{
	background-color: darkgray;
	list-style-type: none;
	font-weight: bold;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overflow: visible;
	position: relative;
	z-index: 1;
	display: flex;
}

.navbar li{
	flex-grow: 1;
	position: relative;
	text-align: center;
}

.navbar li a{
	position: relative;
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 14px 0;
}

.navbar li a:hover{
	color: red;
}


.dropdown{
	flex-grow: 1;
	position: relative;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: darkgray;
	box-shadow: 0px 8px 16px 0px;
	z-index: 2;
	min-width: 100%;
	border-radius: 10px;

}

.dropdown-content a{
	color: white;
	text-decoration: none;
	text-align: left;
	display: block;
	padding: 12px 16px;
}

.dropdown-content a:hover{
	color: red;
}

.dropdown:focus-within .dropdown-content{
	display: block;
}

.main-content{
	background-color: ghostwhite;
	padding: 10px 5px 10px 5px;
	font-family: Arial, sans-serif;
	color: black;
}

.email a{
	background-color: skyblue;
	padding: 0;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

@media all and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        z-index: 1;
    }
    .navbar li {
        border-right: none;
        border-bottom: 1px solid white;
    }
    .dropdown-content {
        position: relative;
        min-width: 100%;
        z-index: 2;
    }
}

@media print {
    .navbar, .heading {
        display: none;
    }
    body {
        background-color: white;
        color: black;
    }
    .main-content {
        color: black;
    }
}