body {    
	background-color: lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	min-height: 100vh;
	font-family: Arial, sans-serif;
}

.main-container{
	display: flex;
	width: 1000px;
	height: 900px;
	max-width: 95%;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px 2px;
	overflow: hidden;
}

.left-panel{
	width: 30%;
	background-color: #EFEFEF;
	color: black;
}

.photo-panel{
	overflow: hidden;
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
	display: block;
	margin-bottom: 5px;
}

.text-content{
	padding: 10px 20px 10px 20px;
	font-family: Arial, sans-serif;
}

.name h1{
	font-weight: bold;
}

.title{
	font-weight: bold;
	border-bottom: 2px solid;
}

.text-content p{
	padding-bottom: 5px;
	font-size: 1em;
}

.text-content ul{
	list-style-type: none;
	font-size: 1em;
	padding: 5px 10px 5px 10px;

}

.text-content li a{
	text-decoration: none;
	color: black;
	font-size: 1em;
}

.text-content li a:hover{
	color: red;
}

.nccu{
	overflow: hidden;
	width: 70%;
	display: block;
	margin-left: 30px;
}

.right-panel{
	width: 70%;
	padding: 10px 20px 10px 20px;
	color: black;
	line-height: 1.5em;
}

.section-title{
	font-weight: bold;
	margin-top: 20px;
	border-bottom: 2px solid;
}

.education-content{
	font-family: Arial, sans-serif;
	font-size: 1em;
	display: flex;
}

.year{
	width: 150px;
	font-weight: bold;
	color: dimgray;
}

.description{
	flex-grow: 1;
	color: black;
}

.tag{
	font-size: 1em;
	display: inline-block;
	background-color: #EFEFEF;
	border-radius: 20px;
	padding: 5px 10px;
	margin-right: 5px;
	font-weight: bold;
}

.hw-and-lab{
	display: flex;
	gap: 20px;
}

.hw-column{
	flex: 1;
	padding: 0px 15px;
	background-color: #EFEFEF;
	border-radius: 5px;
}

.hw-column h3{
	font-weight: bold;
	color: dimgray;
	margin-bottom: 5px;
}

.hw-column li a{
	text-decoration: none;
	color: black;
	margin-bottom: 5px;
	font-size: 1em;
	line-height: 1.5;
}

.hw-column li a:hover{
	color: red;
}

.lab-column{
	flex: 1;
	padding: 0px 15px;
	background-color: #EFEFEF;
	border-radius: 5px;
}

.lab-column h3{
	font-weight: bold;
	color: dimgray;
	margin-bottom: 10px;
}

.lab-column li a{
	text-decoration: none;
	color: black;
	margin-bottom: 5px;
	font-size: 1em;
}

.lab-column li a:hover{
	color: red;
}

.music-section{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

}
.music a{
	display: block;
}

.music a:hover img{
	transform: scale(1.1);
}

.music-icon{
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 5px;
}

.music p{
	font-size: 1em;
	font-weight: bold;
}

.music-note{
	font-size: 1em;
	color: black;
	margin-left: 5px;
	margin-top: 10px;
}